/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
    font-family: 'Recoleta Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Recoleta Medium'), url('/RecoletaMedium.otf') format('woff');
}

body {
    background-color: #f3f3f3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Recoleta Medium', sans-serif;
}

* {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

