/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
    font-family: 'Recoleta Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Recoleta Medium'), url('/RecoletaMedium.otf') format('woff');
}

body {
    background-color: #f3f3f3;
    padding-top: 2rem;
}

* {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

h1,h2,h3,h4,h5,h6,p {
    text-shadow: 1px 1px 20px white, 1px 1px 20px white, 0 0 20px white, 0 0 15px white;
}

.background-image {
    background-image: url(/indexbg2-proc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* filter: blur(2px); */
    /* filter: hue-rotate(29deg); */
}

.text-shadow {
    text-shadow: 0px 0px 16px white, 0 0 9em white, 0 0 28px white;
}

.no-text-shadow {
    text-shadow: none;
}

.container {
    margin-top: 20rem;
}
@media (min-width: 640px) {
    .container {
        margin-top: 0rem;
    }
}

.index-button {
    align-items: center;
    background: linear-gradient(45deg, rgb(33 199 184 / 50%), #daffaf38);
    border: 0;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
    box-sizing: border-box;
    color: #2a1f62;
    cursor: pointer;
    display: flex;
    font-family: "Recoleta Medium";
    font-size: 3.5rem;
    justify-content: center;
    line-height: 1.5rem;
    padding: 3rem 6rem 3rem 6rem;
    position: relative;
    transition: .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    margin: 2rem auto;
    max-width: 20rem;
    backdrop-filter: blur(6px);
    transform: skewY(6deg);
}

.index-button:hover {
    background: #f8f8ff85;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
    color: #392dae;
}